div{
    font-family: normal;
    font-size: 15px;
}
div.field_btn button{
    background: white;
    width: 24px;
    height: 24px;
}
div.condition{
    font-family: cursive;
}
div button{
    background: white;
}
